/* Font Face Definitions */
@font-face {
  font-family: 'inter-regular';
  src: url('./assets/fonts/static/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'inter-semibold';
  src: url('./assets/fonts/static/Inter_18pt-SemiBold.ttf') format('truetype');
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  margin: 0;
  font-family: 'inter-regular';
  background-color: beige;
  font-size: 16px;
  transition: 400ms ease-in-out;
}

/* Navigation Styles */
.navbar {
  background-color: #7e0a0a;
  box-shadow: 0 0 8px rgba(8, 8, 8, 0.5);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px 50px;
  margin: 0;
  transition: 400ms ease-in-out;
}

.nav-tabs {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.nav-tabs li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s;
  padding: 8px 12px;
}

.nav-tabs li a i {
  font-size: 1.2rem;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

.nav-tabs li a:hover {
  background-color: rgb(170, 85, 85);
}

/* Heading Styles */
.logo {
  color: #fff9f9;
  background: rgb(168, 78, 78);
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 3rem;
}

.logo i {
  font-size: 4rem;          
  padding: 0.5rem;
  line-height: 1; 
}

h2 {
  color: #07111f;
  letter-spacing: -1.6px;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.1;
  text-align: left;
  margin: 24px 0;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

h3 {
  color: #07111f;
  letter-spacing: -1.5px;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
}

/* Introduction Styles */
.introduction p {
  color: #615544;
  background-color: blanchedalmond;
  box-shadow: 0 0 8px rgba(8, 8, 8, 0.5);
  width: 70%;
  margin: 2rem auto;
  padding: 1.5rem;
}

.math-formula {
  font-family: 'Latin Modern Mathh', serif;
  letter-spacing: 0.5px;
}

/* Footer */
.site-footer {
  background-color: rgba(0, 123, 255, 0.05);
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  margin-top: 2em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.site-footer a {
  font-size: 1em;
  text-decoration: none;
  color: rgb(61, 61, 61);
}

.site-footer p {
  font-size: 1em;
  text-align: center;
}

.site-footer a:hover {
  color: rgb(167, 165, 165);
}

/* Input Number (↑↓) Styles */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Container Styles */
.form-and-table {
  margin: 0 auto;
  display: flex;
  position: relative;
}

.calculator-and-result {
  width: 40%;
  margin-left: 4rem;
}

/* Content style */
p {
  color: #444343;
  font-size: 17px;
  line-height: 1.5;
  text-align: left;
  padding-left: 50px;
  margin: 32px 0;
}

/* BMI Display Styles */
.bmi {
  display: none;
  align-items: center;
  justify-content: space-between;
}

/* Calculator Section Styles */
.calculator {
  background: #bfc7da;
  padding: 16px;
  border-radius: 16px 16px 0 0;
  text-align: left;
  width: 90%;
  margin: 0 auto;
}

/* Units Form Control Styles */
.units {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  font-weight: 600;
}

.units .form-control label {
  margin-bottom: 8px;
  color: #07111f;
  font-weight: 600;
  font-size: 1rem;
}

.imperial .form-control label {
  color: #07111f;
  font-weight: 600;
  font-size: 20px;
}

/* Form Styles */
.form {
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 0;
  height: auto;
}

/* Radio Input Styles */
input[type='radio'] {
  margin-right: 18px;
  width: 28px;
  height: 28px;
  cursor: pointer;
  border: 1px solid #939ca0;
  border-radius: 50%;
  appearance: none;
}

input[type='radio']:not(.active):hover {
  border: 1px solid #1c3de6;
}

input[type='radio'].active {
  appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  border: 1px solid #0a0b0c;
  position: relative;
}

input[type='radio'].active::after {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #1c3de6;
  opacity: 1;
  border-radius: 50%;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Reset and Calculate Buttons Styles */
.button-group {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  width: 95%;
  margin-left: 1rem;
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'inter-semibold';
  font-size: 1rem;
}

#calculateBtn {
  background-color: #1c3de6;
  color: #fff;
  width: 50%;
}

#calculateBtn:not(:disabled):hover {
  background-color: #5770ec;
  transition: 200ms ease-in-out;
}

#calculateBtn:not(:disabled):active,
#resetBtn:not(:disabled):active {
  background-color: #1c3de6;
  transition: 200ms ease-in-out;
}

#resetBtn {
  background-color: #eff2f3;
  color: #07111f;
  border: 1px solid #68a5be;
  width: 50%;
}

#resetBtn:not(:disabled):hover {
  background-color: #5770ec;
  transition: 200ms ease-in-out;
  color: #fff;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Units Form Control Styles */
fieldset {
  border: none;
}

fieldset legend {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  color: #07111f;
  font-weight: 600;
  font-size: 1rem;
}

.units .form-control {
  width: 50%;
  display: flex;
  padding-left: 1rem;
  margin-bottom: -20px;
}

/* Form Input Styles */
.form .infos label {
  margin-top: 1.5rem;
  padding-left: 1rem;
  font-size: 1rem;
}

.form .infos input {
  width: 90%;
  padding: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.form .infos input:focus {
  outline: 0;
  transform: scale(1.05);
  box-shadow: 0 0 8px rgba(15, 66, 252, 0.5);
  background-color: white;
  transition: 300ms ease-in-out;
}

.infos input:hover {
  background-color: #ebe8e8;
  transition: 200ms ease-in-out;
}

.form .infos .input-container {
  position: relative;
}

.form .infos .input-container input::placeholder {
  color: #5e6e85;
  opacity: 0.25;
  font-weight: 600;
  font-size: 1.2rem;
}

.form .unit-height,
.form .unit-weight {
  color: #5e6e85;
  opacity: 0.5;
  font-weight: 600;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 2.2rem;
  font-size: 1.1rem;
  letter-spacing: -1.0px;
}

/* Metric Form Styles */

.infos .metric {
  display: flex;
}

.form .metric .form-control label {
  display: block;
  margin-bottom: 8px;
  color: #07111f;
  font-weight: 600;
}

/* Imperial Form Styles */
.imperial {
  display: none;
  margin-bottom: -1rem;
}

.imperial .container-flex {
  display: flex;
  gap: 24px;
  margin-bottom: -1rem;
}

.form .imperial .form-control label {
  display: block;
  margin-bottom: 0.5rem;
  color: #07111f;
}

.imperial .form-control small {
  color: #5e6e85;
  opacity: 0.5;
  font-weight: 600;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 1rem;
  font-size: 1.1rem;
  letter-spacing: -1.0px;
}

/* Result Container Styles */
.container-result {
  background: #383261;
  padding: 0.5rem;
  color: #fff;
  border-radius: 0 0 16px 16px;
  width: 90%;
  margin: 0 auto;
}

.container-result .bmi {
  padding: 1rem;
  display: none;
  height: 8rem;
  gap: 2rem;
}

.container-result .valid-msg p {
  color: #fff;
  font-size: 1.2rem;
  text-align: left;
  padding-left: 2rem;
}

.result-text p {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
  padding-top: 0;
  max-width: 276px;
}

.container-result .result-text #classification {
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
}

.result-heading p {
  color: #fff;
  font-size: 1.2rem;
  padding-left: 1rem;
  margin: 0;
}

.result-heading .result {
  font-size: 2rem;
  padding-left: 1rem;
  margin: 0;
}

/* BMI Table Styles */
.bmi-table {
  margin: auto;
  width: 40%;
  border-collapse: collapse;
  background: #d7edf7;
  border: 1px solid #07111f;
  overflow: hidden;
}

.bmi-table th,
.bmi-table td {
  padding: 12px 0px 25px 25px;
  text-align: left;
}

.bmi-table th {
  background-color: #485d79;
  color: #fff;
  font-weight: 600;
}

.bmi-table td {
  color: black;
}

.bmi-table tr:last-child td {
  border-bottom: 1px solid #07111f;
}

.bmi-table tr.highlighted {
  background-color: #80cef1;
  transition: background-color 0.3s ease;
}

/* Explanation, Limitations, and Positive Habits Section Styles */
.text-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 90%;
  margin: 2rem auto;
}

.explanation,
.limitations,
.positive-habits {
  background-color: rgb(248, 238, 226);
  padding-top: 20px;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 70%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.explanation:hover,
.limitations:hover,
.positive-habits:hover {
  background-color: rgb(247, 234, 218);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
  transition: 300ms ease-in-out;
}

.explanation h2,
.limitations h2,
.positive-habits h2 {
  font-weight: 600;
  padding-left: 1rem;
  font-size: 1.8rem;
}

.explanation h3,
.limitations h3,
.positive-habits h3 {
  padding-left: 1rem;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.explanation p,
.limitations p,
.positive-habits p {
  color: #444343;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  text-align: justify;
  hyphens: auto;
}

/* Limitations Section Styles */
.limitations .cards p {
  text-align: left;
  color: #444343;
}